body {
    background-image: url(../img/background.jpg);
}

#logo {
    color: white;
    font-size: 2em;
    margin-left: 1em;
    font-family: cairo, sans-serif;
}

#logo samp {
    color: black;
    font-size: 1.2em;
    background-color: white;
    border-radius: 10px;
    
}
nav{
    background-color: black;
}
#cabeçalhoI.row{
    margin-bottom: 0;
}
div#paleta.container.row{
    margin: auto 0 auto 0;
}
div#card.row.col.s12.l5{
    padding: 0 0;
    min-height: 270;
    max-height: 290;
}
#colorLabel{
    min-height: 270px;
    max-height: 270px;
    background-color: blue;
    margin-bottom: 0;
}
div.card-image.col.s4.l12{
    padding: 0;
    min-height: 270px;
    max-height: 270px;
    margin-bottom: 0;
}
div.row.inputC.s12.l4{
    margin-bottom: 0;
}

div.rotatable{
    display: inline-block;
  width: 20px;
  height: 150px;
  padding: 0;
}
div.rotatable input{
  width: 150px;
  height: 20px;
  margin: 0;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
  padding-top: 1.7em;
}
div.rotatable.nocenter input{
 
}
p.leter{
    font-family: Mitr;
    font-size: 2rem;
    line-height: 5em;
}
div.col.m3.leter-content{
    padding: 0;
}
div.col.row.CI{

    margin: 0 1px;
}
div#left.col.row.CI{
    margin-left: 8px;
}
div.col.m3.row.push-l1.center{
 margin: 0 0 0 26px;
}

div.card div#cc.card-content.s6.l12 {
    padding: 0 24 0 24px;
    margin-right: 1em;
}
div.col.s6.l12{
    margin-bottom: .5em;

}
div.col.s6.l12.copy{
    margin-bottom: .5em;
    border-radius: 10px 0 0 10px;

} 
NC{
    min-width: 200px;
    min-height: 1em;
    background-color: gray;
}